*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    margin: 0;
    background-color: burlywood;
    /*
    padding:0;
    height: 100vh;
    overflow: hidden;

     */
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    /*
    list-style: none = No marker is shown
    */
}

a {
    color: #34495e;
    text-decoration: none;
    /*
      text-decoration: none - is used here to not show underlining under an anchor element when a mouse hovers over it.
    */
}

p{
    font-size: large;
}

footer>h1{ /*Child selector*/
    text-align: center;
}

header+main{ /*Adjacent Sibling Selector*/
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main article{ /*Descendant selector*/
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    width: 50%;
    background-color: #d09256;
}

main~footer{ /*General sibling selector*/
    margin:0.1em;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #092747;
}


.article-header{
    margin: 0.2em 0.2em 1em;
    padding: 0.2em;
    border-radius: 1em;
    display: flex;
    background-color: #5e99cc;
    flex-direction: row;
    justify-content: space-between;
}

.article-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-image{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.like-picture{
    width: 7%;
    height: 7%;
    min-height: 40px;
    min-width: 40px;
}

.posting-date{
    font-weight: bold;
    padding-right: 1em;
    padding-left: 1em;
}

/*Icon in the nav bar*/
.logo {
    padding-top: .5em;
    padding-right: 1em;
}

/*Icon in the posts*/
.post-logo{
    padding-top: .6em;
    padding-left: 1em;
}

.header {
    padding: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);

    /*
    Navigation bar scrolling
    */
    position: sticky;
    top: 0;


    border-radius: 5px;
}

.nav {
    margin-top: 5px;
}

.nav a {
    padding: 15px 40px;
    border-radius: 1em;
    margin: 0.7em;
    background-color: #bc94de;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: block;
    color: #34495e;
    font-size: .99em;
}

/* Pseudo-class selector */
.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
}

@media (min-width: 600px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 900px) {
    p{
        font-size: larger;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 900px) {
    .logo{
        display: none;
    }
}

@media (max-width: 500px) {
    .article-header{
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    p{
        font-size: medium;
    }
}

.center > * { /* Child selector */
    margin: 10px;
}

.center{ /* class selector */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: lightgray;
    border-radius: 10px;
}

.center a { /*Descendant selector */
    align-self: center;
}

.center h3{
    text-align: center;
    padding: 0 0 20px 0;
}

.center p{
    text-align: center;
}

.center form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;

}

.accountlink{
    margin: 0.5em;
    text-align: center;
}

#login { /* id selector */
    margin: 1em 1em 0;
    cursor: pointer;
    color:white;
    background-color: blue;

}

#login:active { /* id selector, pseudo-class */
    color: blue;
    background-color: white;
}

.add_post form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    background: lightgray;
    border-radius: 10px;
}

.add_post li + li{ /* Adjacent sibling selector */
    margin-top: 1em;
}

.add_post label {
    display: inline-block;
    margin: auto;
    width: 90px;
    text-align: right;
}

.add_post input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.add_post input:focus, textarea:focus {
    border-color: #000;
}

.add_post textarea {
    vertical-align: top;
    height: 5em;
}

.add_post .button {
    padding-left: 90px;
    
}

.add_post button{
    display: inline-block;
    margin-left: 0.5em;
    background-color: #bc94de;
    padding: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    color: white;
}

#file_choosen{
    display: inline-block;
    width: 22%;
    margin-left: 0.5em;
    background-color: #7ebeb6;
    padding: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    color: white;
}



